doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/components/angular-material/angular-material.css')
      link(rel='stylesheet', href='/components/angular-loading-bar/build/loading-bar.min.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src='/components/angular/angular.js')
      script(src='/components/angular-aria/angular-aria.js')
      script(src='/components/angular-animate/angular-animate.js')
      script(src='/components/angular-material/angular-material.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.js')
      script(src='/components/angular-loading-bar/build/loading-bar.min.js')
      script(src="/js/index.js")
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCf9XXnxf4Z0PQt1wHe9nO8V6Z66ZL1uSo')
      script(src='/components/google-infobox/google-infobox.js')
  body
    div(ng-app="wwwApp").height-100
      block content
    
